@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-3
}
.bg-primary{
  background-color: #201f1e;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.font-style{
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.bg-secondary{
  background-color: #464442;
}

.mobile-nav{
  background-color: #464442;
  @apply fixed top-24 left-0 bg-transparentbg text-white w-full h-80 
  
}
.font-big{
  
  font-weight: 600;
  font-size: larger;
}
.btn{
  @apply bg-transparentbg px-5 py-2 font-bold border-2 text-gray-50 hover:text-black hover:border-black rounded-md
}

html{
  scroll-behavior: smooth;
}